.message {
  $block: 'message';

  align-items: baseline;
  justify-content: space-between;
  display: flex;
  font-weight: bold;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: margin 0.75s, max-height 0.75s, opacity 0.75s;

  &--active {
    margin: 2rem 0;
    max-height: 200rem;
    opacity: 1;
  }

  &--error {
    background-color: #dc3545;

    .#{$block}::before {
      color: #dc3545;
      content: '𝘹';
    }
  }

  &--success {
    background-color: #28a745;

    .#{$block}::before {
      color: #28a745;
      content: '✓';
    }
  }

  &__close {
    height: 4rem;
    margin: 2rem;
    width: 4rem;
  }

  &__content {
    margin: 2rem;

    &::before {
      background-color: #fff;
      display: inline-block;
      height: 2rem;
      line-height: 1.3;
      margin: 0 0.7rem 0 0;
      text-align: center;
      vertical-align: baseline;
      width: 2rem;
    }
  }

  &__prompt {
    font-weight: normal;
    text-decoration: none;

    &::after {
      content: ' →';
    }
  }
}
