.main-navigation {
  ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
  }

  li {
    border-bottom: 3px solid transparent;
    margin: 1rem;
    transition: border-color .35s;

    &.selected {
      border-color: #fff;
    }
  }

  a {
    color: #f7f7f7;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2;
    text-decoration: none;

    .selected & {
      color: #fff;
    }
  }
}
