$ctas: (
  primary: (
    'default': (
      'background-color': #fff,
      'border-color': #fff,
      'color': #222
    ),
    'hover': (
      'background-color': #666,
      'border-color': #666,
      'color': #fff
    )
  ),
  secondary: (
    'default': (
      'background-color': transparent,
      'border-color': #fff,
      'color': #fff
    ),
    'hover': (
      'background-color': transparent,
      'border-color': #c7c7c7,
      'color': #c7c7c7
    )
  ),
);
